body {
    font-family: consolas;
}

.highlight {
    background-color: rgba(255, 0, 0, 0.1); 
}

.packets-overview {
    overflow-x: auto;
    height: 50vh;
    border: 1px solid black;
    background-color: #E7E6FF;
}

.udp {
    background-color: #DAEEFF;
}

.udp:hover {
    background-color: #C4E4FF;
}

.icmp {
    background-color: #FCE0FF;
}

.icmp:hover {
    background-color: #E2D7FF;
}

.tcp {
    background-color: #A0A0A0;
}

.tcp:hover {
    background-color: #909EAA;
}

.arp {
    background-color: #FAEFDA;
}

.arp:hover {
    background-color: #D3CCB8;
}

.title {
    max-width: inherit;
    width: 3000px;
    background-color: #F0F0F0;
}

.title:hover {
    background-color: #D8E6F2;
}

.packet-details {
    height: 44vh;
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
}

.left-protocol-info {
    border: 1px solid black;
    flex: 1;
    overflow-x: auto; 
    display: flex;
    white-space: nowrap; 
    flex-direction: column;
    position: relative; 
    width: inherit;
}

.right-hex-info {
    border: 1px solid black;
    flex: 1; 
    overflow-x: auto; 
    display: flex;
    white-space: nowrap; 
    flex-direction: column;
    position: relative; 
    width: inherit;
}


table, th, td {
  border: none;
  border-collapse: collapse;
  font-weight: 500;
}

th, td {
    text-align: left;
}

table {
    min-width: 600px;
  border: none;
}

tr {
    border: none;
    cursor: pointer;
}

tr:hover {
    background-color: #CFDDFF;
}

.control-bar {
    width: 98vw;
    height: 4vh;
    background-color: lightblue;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding:0;
}

.search-container {
    display: flex;
    justify-content: center;
}
.search-bar {
    width: 98vw;
    height: 3vh;
    resize: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.item {
  cursor: pointer;
  height: fit-content;
  width: 100vw;
}

.sub-items {
  overflow: hidden;
  display: none;
  max-width: 100%;
  width: auto; 
}

.sub-items.expanded {
    display:block;
    height: auto;
}

.dropdown {
    cursor: pointer;
    transition: rotate 0.4s ease-in-out;
    rotate: -90deg;
}

.dropdown.expanded {
    rotate: 0deg;
}
